body{
        margin: 0px;
        padding: 0px;
        box-sizing: boarder-box;
    }

nav {
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #355585;
        overflow: auto;
        line-height:10px;
        padding:0px 70px;   /*don't change*/
    }


nav ul{
        float: right;
        list-style-type: none;
      }

nav li{
        float: right;
        padding: 0px 7px;
      }

      /* Style the links inside the navigation bar */
      nav a {
        width: 100px;
        float: right;
        color: floralwhite;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17px;
        font-family: Arial;  /*don't change*/

      }

      /* Change the color of links on hover */
nav a:hover {
        background-color: #ddd;
        color: steelblue;
      }

    