<html>
<head>
    <title>My Link Page</title>
    <!-- <link href="/static/Graph.css" rel="stylesheet"> -->
    <style>
        h1{
        color: #1B2631;
        text-align: center;
        font-family: arial, sans-serif; 
        font-size: 32px; 
        margin: 20px 60px; 
        font-weight: 100
        }

        #figure2{
            width:1000px;
            height:470px;
        }


    </style>
</head>

<body>

    <main>
        <h1>Graphs</h1>

        <img id="figure2" src='../static/image/UEGFigure2.png' alt="loading..." title="Figure2"/>
        <img src='../static/image/UEGFigure3A.svg' alt="loading..." title="Figure3.A"/>
        <img src='../static/image/UEGFigure3BC.svg' alt="loading..." title="Figure3.B.C"/>
        <img src='../static/image/UEGFigure4.svg' alt="loading..." title="Figure4"/>
        <img src='../static/image/UEGFigure5A.svg' alt="loading..." title="Figure5.A"/>
        <img src='../static/image/UEGFigure5B.svg' alt="loading..." title="Figure5.B"/>
        <img src='../static/image/UEGFigure5D.svg' alt="loading..." title="Figure5.D"/>
        <img src='../static/image/UEGFigure6A.svg' alt="loading..." title="Figure6.A"/>
        <img src='../static/image/UEGFigure6B.svg' alt="loading..." title="Figure6.B"/>
        <img src='../static/image/UEGFigure7B.svg' alt="loading..." title="Figure7.B"/>

    </main>
    
    
</body>
</html>